<div class="select">
           <% if(is_post()){%>
            <div class="btn-group">
                <button class="btn btn-inverse dropdown-toggle" type="button" data-toggle="dropdown">
                    One Note <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-inverse" role="menu">
                    <li><a href="/">Home</a></li>
                    <li><a href="/archives">Archives</a></li>
                    <li><a href="/categories">Categories</a></li>
                    <li><a href="/tags">Tags</a></li>
                    <li><a href="/works">works</a></li>  
                    <li><a href="/about">About</a></li>  
                </ul>
            </div>
            <%}%>
        </div>
        <div class="clear"></div>
        <hr>