<div class="part-section" id="notes">
        <h4>Notes</h2>
        <ul>
        <% var articles=site.posts.toArray();%>
        <%var length=articles.length%>
        <% for(var i=0;i<6;i++){ %>
            <li>
               <a href="<%=articles[length-i-1].path%>"><%=articles[length-i-1].title%></a>
               <span><%=date(articles[length-i-1].date,'YYYY/M/D')%></span>
           </li>
        <%}%>
          </ul>
    <p>Some notes about which i think is important</p>
    <p><a href="archives">To find more notes...</a></p>
</div>
<hr>  
