 <div class="part-section" id="contact">
                <h4>Contact</h2>
                <img src="<%=theme.pictures.contact%>" alt="Contact">
                <p>Contact me</p>
                <p><a href="./contact.html">To contact me...</a>or leave me some words</p>
                <div class="sendmessage">
                    <input type="text" class="form-control input-sm" placeholder="Name" />
                     <input type="text" class="form-control input-sm" placeholder="Email" />
                     <textarea name="message" placeholder="Message"></textarea>
                    <button class="btn btn-embossed btn-primary">Send Message
                </button>
                </div>
                
            </div>
            
            <hr>
             
