<div class="part-section" id="about">
    <h4><%=__('index.about')%></h4>
        <img src="<%=theme.pictures.about%>" alt="About">
        <p><%=theme.index.about%></p>
        <p><a href="/about">more...</a></p>
</div>
<hr>