 <div class="part-section" id="contact">
    <h4><%=__('index.contact')%></h4>
    <img src="<%=theme.pictures.contact%>" alt="Contact">
    <p><%=theme.index.contact%></p>
    <p><%- mail_to(theme.contact.mail, 'Email') %></p>
</div>
<hr>
             
