 <div class="part-section" id="contact">
    <h4>Contact</h2>
    <img src="<%=theme.pictures.contact%>" alt="Contact">
    <p>Contact me</p>
    <p>If you want to know more about me, <%- mail_to(theme.contact.mail, 'Email') %> or leave me some words</p>
</div>
<hr>
             
