 <div class="part-section" id="works">
                <h4>Works</h2>
                <div class="onework">
                   <a href="">   
                    <img src="./img/pic/works.png" alt="">
                    <div class="img-div">First work about</div>
                    </a>   
                   <h6>New IOT System</h6>
                </div>
                
                <div class="onework">
                   <a href="">
                    <img src="./img/pic/works.png" alt="">
                    <div class="img-div">First work about</div>
                    </a>
                     <h6>New IOT System</h6>
                </div> 
                <div class="onework">
                   <a href="">
                    <img src="./img/pic/works.png" alt="">
                     <div class="img-div">First work about</div>
                    </a>
                     <h6>New IOT System</h6>
                </div> 
                <div class="onework">
                   <a href="">
                    <img src="./img/pic/works.png" alt="">
                     <div class="img-div">First work about</div>
                    </a>
                     <h6>New IOT System</h6>
                </div> 
                <p>Show some works,what i do recently</p>
                <p><a href="./works.html">To find more works...</a></p>
            </div>
            <hr>