<div class="part-section" id="about">
    <h4><%=__('index.about')%></h4>
        <img src="<%=theme.pictures.about%>" alt="About">
        <p>About me, love coding and playing SC2</p>
        <p><a href="/about">To learn more about me...</a></p>
</div>
<hr>