   <div class="container">
        <div class="back">
            <a href="#">
                <span class="fui-arrow-left"></span>
            </a>
        </div>
        <%- partial('_partial/article')%>
        <div class="jumptohead">
            <a href="#">
                <span class="fui-triangle-up"></span>
            </a>
        </div>
        <div class="clear"></div>        
    </div>
    <hr>
    <%- partial('_partial/footer')%>