/*字体设置*/
@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/lato-black.eot');
  src: url('../fonts/lato/lato-black.eot?#iefix') format('embedded-opentype'), url('../fonts/lato/lato-black.woff') format('woff'), url('../fonts/lato/lato-black.ttf') format('truetype'), url('../fonts/lato/lato-black.svg#latoblack') format('svg');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/lato-bold.eot');
  src: url('../fonts/lato/lato-bold.eot?#iefix') format('embedded-opentype'), url('../fonts/lato/lato-bold.woff') format('woff'), url('../fonts/lato/lato-bold.ttf') format('truetype'), url('../fonts/lato/lato-bold.svg#latobold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/lato-bolditalic.eot');
  src: url('../fonts/lato/lato-bolditalic.eot?#iefix') format('embedded-opentype'), url('../fonts/lato/lato-bolditalic.woff') format('woff'), url('../fonts/lato/lato-bolditalic.ttf') format('truetype'), url('../fonts/lato/lato-bolditalic.svg#latobold-italic') format('svg');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/lato-italic.eot');
  src: url('../fonts/lato/lato-italic.eot?#iefix') format('embedded-opentype'), url('../fonts/lato/lato-italic.woff') format('woff'), url('../fonts/lato/lato-italic.ttf') format('truetype'), url('../fonts/lato/lato-italic.svg#latoitalic') format('svg');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/lato-light.eot');
  src: url('../fonts/lato/lato-light.eot?#iefix') format('embedded-opentype'), url('../fonts/lato/lato-light.woff') format('woff'), url('../fonts/lato/lato-light.ttf') format('truetype'), url('../fonts/lato/lato-light.svg#latolight') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/lato-regular.eot');
  src: url('../fonts/lato/lato-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/lato/lato-regular.woff') format('woff'), url('../fonts/lato/lato-regular.ttf') format('truetype'), url('../fonts/lato/lato-regular.svg#latoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Flat-UI-Icons';
  src: url('../fonts/glyphicons/flat-ui-icons-regular.eot');
  src: url('../fonts/glyphicons/flat-ui-icons-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons/flat-ui-icons-regular.woff') format('woff'), url('../fonts/glyphicons/flat-ui-icons-regular.ttf') format('truetype'), url('../fonts/glyphicons/flat-ui-icons-regular.svg#flat-ui-icons-regular') format('svg');
}


.container{
    font-family: Lato,'Microsoft YaHei';
    margin: 1em 0em;
    width: 100%;
    padding: 0 2em 0 2em;
}

/*返回块*/
.back{
    position: fixed;
    z-index: 2;
}

/*选择块*/
.select{
    float: right;
    width: 40%;
    height: 2em;
}
.btn-group{
    width: 100%;
}
.btn-group button{
    width: 100%;
} 
.btn-group ul{
    width: 100%;
} 
.btn-group li{
    text-align: center;
    width: 100%;
}
.clear{
    clear: both;
}


/*内容块*/
.content{
    width: 100%;
    padding:0 20% 0 20%;
}


/*单个作品或笔记部分*/

.content .one-article{
    width: 100%;
}
.content .one-article h1{
    text-align: center;
}

.content .one-article p{ 
    text-align: justify;
    font-size: 16px;
    line-height:1.7;
}

.content .one-article  img{
    max-width:100%;
    height: auto;
    vertical-align: middle;
    border: 0;
}

/*所有作品部分*/
.choose{
    width: 100%;
}

.one-work{
    position: relative;
    float: left;
    width: 30%;
    height: 20em;
    margin: 1.1em;
    border: 1px solid #ddd;
    box-shadow: 1px 1px 1px #ccc;
    overflow: hidden;
}

.one-work h6{
    text-align: center;
    margin: 0;

    line-height: 2em;
}

.one-work a img{
    width: 100%;
    height: 17em;
     margin: 0px;
}

.one-work .img-div{
    position: absolute;
    margin: 0px;
    background: #898989;
    color:aliceblue;
    left: 0px;
    top: -100%;
    opacity:0.8;
    width: 100%;
    height: 17em;
    text-align: center;
    padding-top: 50%;
}

/*所有笔记部分*/

.yearnotes{
    width: 90%;
    margin: 2em auto;
    border: 1px solid #ddd;
    box-shadow: 1px 1px 1px #ccc;
   
}

.yearnotes .year{
    float: left;
    width: 10%;
    text-align: center;
    
}
.yearnotes .notes{
    float: left;
    width: 90%;
    text-align: left;
    padding: 1em;
}

.yearnotes .notes li{
    margin: 0.5em auto;
}



/*跳到头部*/
.jumptohead{
    width: 40px;
    height: 40px;
    border-radius: 4px;
    background:#eee;
    display: none;
    position: fixed;
    right: 2em;
    bottom: 2em;
    text-align: center;
}

.jumptohead a{
    display: block;
    line-height: 40px;
}


/*页脚*/
.footer{
    font-size: 14px;
    text-align: center;
    width: 100%;
}

.footer-left{
    float: left;
}

.footer-right{
    float: right;
}


/*archives*/
.content .archives-wrap{
    border: 1px solid #ddd;
    box-shadow: 1px 1px 1px #ccc;
    margin: 2em;
}

.content .archives-wrap hr{
    margin: 0;
}

.content .archives-wrap .archive-year-wrap{
    text-align: center;
}

.content .archives-wrap .archives{
    padding: 0 1em 0 1em;
}


.archive-article-inner .archive-article-header{
    text-align: left;
    margin:0.2em 0 0.2em 0;
}


.archive-article-inner .a-title{
    color: #34495e;
}


.archive-article-inner .a-date{
    float: right;
    color: #34495e;
}



/*article-info 包括tags categories 和date*/
.article-info{
    position: relative;
}


/*tags和categories*/
.article-tag,.article-category {
    float: left;
    margin-top: 0;
}

.article-tag .article-tag-list{
    float: left;
    list-style: none;
}

.article-tag-list .article-tag-list-item{
    float: left;
    font-size: 18px;
    margin-right: 1.2em;
}

.article-tag-list .article-tag-list-item:last-child{
    margin-right: 2em;
}

/*date*/
.article-date{
    float: right;
     margin-top: 0;
}

.article-date span{
    margin: 0px;
}


/*categories and tags*/
/*tags*/
.layout-wrap{
   
    text-align: center;
}

.layout-wrap-inner .tag-list{
    list-style: none;
    text-align: left;
    font-size: 20px;
}



.layout-wrap-inner.tag-cloud a{
    margin: 1em;
}


/*categories*/
.layout-wrap-inner .list-categories{
    float: left;
}


.layout-wrap-inner.list-categories .category-list{
    list-style: none;
}







/*nav*/
.article-nav{
    margin-top: 2em;
}



.article-nav .pre-arrow{
    float: left;
}

.article-nav .next-arrow{
    float: right;
}






/*article-content*/
.article-content{
    padding: 0 1em 0 1em;
}

.article-content p{
    margin: 0;
}


.article-content hr{
    margin-top: 0px;
    margin-bottom: 0px;
}

.article-content img{
    width: 50%;
    height: 50%;
    margin: 1em 0 1em 0;
}

.article-content figure{
    background: #4d4d4d;
    margin:1em 0 1em 0;
}

.article-content figure table{
   border-collapse: collapse;
}


.article-content figure pre{
    margin: 0;
    color: aliceblue;
    background: #4d4d4d;
    border: none;
}










