/*主体*/

html,
body {
    margin: 0px;
    width: 100%;
    height: 100%;
}
.container {
    font-family: 'Microsoft YaHei', Helvetica, Arial, sans-serif;
    margin: 0px;
    height: 100%;
    width: 100%;
    padding: 0px;
}

/*侧边菜单*/

.sidermenubar {
    float: left;
    position: fixed;
    width: 23%;
    height: 100%;
    background: #5F6D7E;
}
.sidermenubar .name-section {
    color: #fff;
    padding: 40px 40px 0px 40px;
}
.sidermenubar .name-section .avatar-img {
    width: 150px;
    height: 150px;
    border: 4px solid #fff;
    border-radius: 75px;
    margin: auto;
    overflow: hidden;
}
.sidermenubar .name-section h4 {
    text-align: center;
}
.sidermenubar .name-section p {
    text-align: center;
}
.sidermenubar .contact-section {
    padding: 0px 40px 10px 40px;
}
.sidermenubar .contact-section a {
    color: #fff;
}
.sidermenubar .contact-section ul {
    padding: 0px;
    text-align: center;
}
.sidermenubar .contact-section ul li {
    display: inline;
    margin: 5px;
}
.sidermenubar .content-section a {
    color: #fff;
}
.sidermenubar .content-section ul {
    list-style-type: none;
    padding: 0px;
}
.sidermenubar .content-section ul li a {
    display: block;
    padding: 0.5em 1.5em;
}
.sidermenubar .content-section ul li a.active {
    background: rgba(0, 0, 0, 0.15) none repeat scroll 0% 0%;
    box-shadow: 0px 0px 0.25em 0px rgba(0, 0, 0, 0.125) inset;
    color: #eee;
}
.sidermenubar .content-section ul li a i {
    position: absolute;
    right: 5%;
}
.sidermenubar .content-section ul li a img {
    width: 1.5em;
}

/*内容*/

.content {
    float: right;
    width: 77%;
    height: 100%;
    background: #ffffff;
}
.content .part-section {
    height: 100%;
    width: 100%;
    text-align: center;
}
.content .part-section h4 {
    text-align: center;
}
.content .part-section p {
    text-align: center;
}
.content .part-section img {
    width: 100%;
    height: 60%;
    margin: 10px 0px;
}
#home {
    color: #fff;
    background: url(../img/home.jpg) center no-repeat;
    background-size: cover;
    position: relative;
}
#home h3 {
    position: absolute;
    height: 50%;
    width: 50%;
    margin: auto;
    padding-top: 16%;
    font-weight: 200;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;   
}
#about,
#works,
#notes,
#contact {
    padding: 0.5em 2em;
}

/*作品展示板块*/

#works {
    position: relative;
}
#works .float-works {
    position: relative;
    height: 60%;
    margin: 1em;
    overflow: hidden;
}
#works .onework {
    position: absolute;
        overflow: hidden;
}

#works .onework a{
    display: block;
    width: 100%;
    height: 100%;
}

#works .work1 {
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
}
#works .work2 {
    top: 0;
    left: 50%;
    width: 50%;
    height: 50%;
}
#works .work3 {
    top: 50%;
    left: 50%;
    width: 25%;
    height: 50%;
}
#works .work4 {
    top: 50%;
    left: 75%;
    width: 25%;
    height: 50%;
}
#works .onework img {
    height: 100%;
    width: 100%;
    margin: 0px;
}
#works .img-div {
    position: absolute;
    left: 0px;
    top: -120%;
    width: 100%;
    height: 100%;
    margin: 0px;
    /*padding: 50% 1em 50% 1em;*/
    background: #898989;
    color: aliceblue;
    opacity: 0.8;
    text-align: center;
    vertical-align:;
    overflow: hidden;
}
#works .img-div p{
    position: absolute;
    top: 80%;
    left: 1em;
}


/*笔记板块*/

#notes ul {
    border: 1px solid #ddd;
    box-shadow: 1px 1px 1px #ccc;
}
#notes ul li {
    width: 100%;
    height: 3em;
    text-align: left;
    line-height: 3em;
}
#notes ul li a {
    display: block;
    width: 80%;
    float: left;
}
#notes ul li span {
    float: left;
    margin-left: 1em;
}

/*留言板块*/

#contact .sendmessage {
    padding: 0.35em;
}
#contact .sendmessage input[placeholder="Name"] {
    width: 48%;
    float: left;
}
#contact .sendmessage input[placeholder="Email"] {
    width: 48%;
    float: right;
}
#contact .sendmessage textarea {
    display: block;
    width: 100%;
    border-radius: 0.35em;
    box-shadow: inset 0 0.1em 0.1em 0 rgba(0, 0, 0, 0.05);
    border: solid 1px rgba(0, 0, 0, 0.15);
    padding: 0.75em 1em 0.75em 1em;
    margin: 2em 0em 0.5em;
}
#contact .sendmessage button {
    float: left;
}

/*页脚*/

.clear {
    clear: both;
}
.footer {
    font-size: 14px;
    float: left;
    width: 100%;
    height: 10%;
    padding: 0.5em 2em;
}
.footer-left {
    float: left;
}
.footer-right {
    float: right;
}