<div class="archive-article-inner">
    <header class="archive-article-header">
      <a class="a-title" href="<%- url_for(post.path)%>"><%=post.title%></a>
      <a class="a-date fui-calendar" href="<%- url_for(post.path)%>"> <%=date(post.date,'YYYY/M/D')%></a>
    </header>
</div>
