<%- partial('_article/selector')%>
    <div class="content">
        
    <% var last; %>
  <% page.posts.each(function(post, i){ %>
    <% var year = post.date.year(); %>
    <% if (last != year){ %>
      <% if (last != null){ %>
        </div></div>
      <% } %>
      <% last = year; %>
      <div class="archives-wrap">
        <div class="archive-year-wrap">
          <a href="<%- url_for('archives/' + year) %>" class="archive-year"><%= year %></a>
        </div>
        <hr>
        <div class="archives">
    <% } %>
    <%- partial('archive-post', {post: post, even: i % 2 == 0}) %>
    <hr>
  <% }) %>
  <% if (page.posts.length){ %>
    </div></div>
  <% } %>   
    </div>
    <hr>
    
        