
<div class="footer">
   <hr>
    <div class="footer-left">
        &copy;
        <%= date(new Date(), 'YYYY') %>
            <%= config.author || config.title %>
    </div>
    <div class="footer-right">
        <a href="http://hexo.io/" target="_blank">Hexo</a> Theme <a href="https://github.com/ForeverSc/hexo-theme-forever" target="_blank">forever</a> by <a href="https://github.com/ForeverSc" target="_blank">ForeverSc</a>
    </div>
    <div class="clear"></div>
</div>