<div class="content">
    <div class="part-section" id="home">
        <h3>Welcome to my blog</h3>
        <p>Thinking and Coding</p>
    </div>

    <div class="part-section" id="about">
        <h4>About</h2>
                <img src="./img/pic/aboutme.png" alt="About">
                <p>About me, love coding and playing SC2</p>
                <p><a href="./about.html">To learn more about me...</a></p>
            </div>
            <hr>
             <div class="part-section" id="works">
                <h4>Works</h2>
                <div class="onework">
                   <a href="">   
                    <img src="./img/pic/works.png" alt="">
                    <div class="img-div">First work about</div>
                    </a>   
                   <h6>New IOT System</h6>
                </div>
                
                <div class="onework">
                   <a href="">
                    <img src="./img/pic/works.png" alt="">
                    <div class="img-div">First work about</div>
                    </a>
                     <h6>New IOT System</h6>
                </div> 
                <div class="onework">
                   <a href="">
                    <img src="./img/pic/works.png" alt="">
                     <div class="img-div">First work about</div>
                    </a>
                     <h6>New IOT System</h6>
                </div> 
                <div class="onework">
                   <a href="">
                    <img src="./img/pic/works.png" alt="">
                     <div class="img-div">First work about</div>
                    </a>
                     <h6>New IOT System</h6>
                </div> 
                <p>Show some works,what i do recently</p>
                <p><a href="./works.html">To find more works...</a></p>
            </div>
            <hr>
            <div class="part-section" id="notes">
                <h4>Notes</h2>
                <ul>
                    <li><a href="">article</a></li>
                    <li><a href="">article</a></li>
                    <li><a href="">article</a></li>
                    <li><a href="">article</a></li>
                    <li><a href="">article</a></li>
                    <li><a href="">article</a></li>
                </ul>
                <button class="btn btn-embossed btn-primary">
                change
                </button>
                <p>Some notes about which i think is important</p>
                <p><a href="./notes.html">To find more notes...</a></p>
                
            </div>
            <hr>
            <div class="part-section" id="contact">
                <h4>Contact</h2>
                <img src="./img/pic/contact.png" alt="Contact">
                <p>Contact me</p>
                <p><a href="./contact.html">To contact me...</a>or leave me some words</p>
                <div class="sendmessage">
                    <input type="text" class="form-control input-sm" placeholder="Name" />
                     <input type="text" class="form-control input-sm" placeholder="Email" />
                     <textarea name="message" placeholder="Message"></textarea>
                    <button class="btn btn-embossed btn-primary">Send Message
                </button>
                </div>
                
            </div>
            
            <hr>
             
          <div class="footer">footer</div>
          
        </div>